:root {
    --borderRadius: 10px;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
}
#main-content {
    font-size: xx-large;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-content button {
    margin: 1vmin;
    min-width: 100px;
    border-radius: var(--borderRadius);
}

#predictedResult {
    font-size: 40px;
    flex: 1;
}

#start-status {
    font-size: 40px;
}
#timer {
    font-size: 40px;
}
#counter {
    font-size: 40px;
}
video {
    transform: scaleX(-1);
   
    border-radius: var(--borderRadius);
}
svg {
    border-radius: var(--borderRadius);
}
.card {
    min-width: 40px;
    padding: 2vmin;
    margin: 2px;
    border-radius: var(--borderRadius);
}